@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header" id="divTitulo">
            <h3>Unidade Loterica Diário</h3>
        </div>
        <ul class="list-unstyled components">
            @if (ViewBag.IndAdmin != null && ViewBag.IndAdmin)
            {
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cadastro de Jogos</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li style="cursor: pointer">
                            <a id="itemMenuMegaSena">Mega Sena</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuLotomania">Lotomania</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuLotofacil">Lotofácil</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuQuina">Quina</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuLoteca">Loteca</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuTimemania">Timemania</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuDuplaSena">Dupla-sena</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuSuperSete">Super Sete</a>
                        </li>
                        <li style="cursor: pointer">
                            <a id="itemMenuDiaDeSorte">Dia de Sorte</a>
                        </li>
                    </ul>
                </li>
            }
            <li id="itemMenuPainelResultados" style="cursor: pointer">
                <a id="aitemMenuPainelResultados">Painel de Resultados</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a id="btnLogout" style="background-color:#4682B4;color: #fff;" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </nav>
        <div id="divBodyHome">
            <h2>Unidade Loterica Diário</h2>
            <p>Cadastro de jogos atualizados e disponibilidade de visualização do painel de jogos(Padrão Caixa Econômica).</p>
            <div class="line"></div>
        </div>
        @if (ViewBag.IndAdmin != null && ViewBag.IndAdmin)
        {
            <div id="divBodyCadMegaSena" style="display:none">
                <h2>Cadastro Mega Sena</h2>
                <p>MEGA SENA</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadLotomania" style="display:none">
                <h2>Cadastro Lotomania</h2>
                <p>LOTOMANIA</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadLotofacil" style="display:none">
                <h2>Cadastro Lotofacil</h2>
                <p>Lotofacil</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadQuina" style="display:none">
                <h2>Cadastro Quina</h2>
                <p>Quina</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadLoteca" style="display:none">
                <h2>Cadastro Loteca</h2>
                <p>Loteca</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadTimemania" style="display:none">
                <h2>Cadastro Timemania</h2>
                <p>Timemania</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadDuplaSena" style="display:none">
                <h2>Cadastro DuplaSena</h2>
                <p>DuplaSena</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadSuperSete" style="display:none">
                <h2>Cadastro Super Sete</h2>
                <p>Super Sete</p>
                <div class="line"></div>
            </div>
            <div id="divBodyCadDiaDeSorte" style="display:none">
                <h2>Cadastro Dia De Sorte</h2>
                <p>Dia De Sorte</p>
                <div class="line"></div>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/homeJs")