@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divBodyCadMegaSena">
    <h2>Cadastro Mega Sena</h2>
    <p>MEGA SENA</p>
    <div class="line"></div>
</div>

@Scripts.Render("~/cad-mega-sena")